.DS_Store
.idea
bin
.metadata
*.jar
!webuno/WEB-INF/lib/*.jar
!src/main/webapp/WEB-INF/lib/*.jar
.settings
.classpath
.project
target
*.iml
npm-debug.log

src/main/webapp/bower_components
src/main/webapp/images
src/main/webapp/fonts
src/main/webapp/scripts
src/main/webapp/styles
src/main/webapp/favicon.ico
src/main/webapp/index.html
src/main/webapp/robots.txt

webuno/test/test-results.xml
