<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-toggle" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href data-ui-sref="app.home" data-ng-class="{loader: isLoading}">
                <span class="color-orange">U</span><span class="color-rouge">N</span><span class="color-vert">O</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-toggle">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding: 0 15px;">
                    <img class="language" src="images/fr.png" alt="Français" data-ng-click="changeLanguage('fr')">
                    <img class="language" src="images/en.jpg" alt="English" data-ng-click="changeLanguage('en')">
                </li>
                <li>
                    {{user.name}}
                </li>
                <li>
                    <a href data-ng-click="goLogout()">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>