<div id="game" class="container">
    <div class="col-md-offset-1 col-md-10">
        <div id="table-game">
            <div id="pioche" class="carte pioche" data-ng-click="piocherCarte()"></div>
            <div id="fausse" class="carte {{fausse.famille}}-{{fausse.nombre}}"></div>
            <table id="main">
                <tr>
                    <td data-ng-repeat="carte in cartes track by $index">
                        <div class="carte main {{carte.famille}}-{{carte.nombre}}" data-ng-click="jouerCarte(carte)"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>