<div class="jumbotron">
    <button class="btn btn-success" id="ingage" data-ui-sref="app.start">
        Commencer une partie
    </button>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Toutes les parties</div>
        <div class="panel-body text-center">
            Mettre la liste de toutes les parties ici dans un tableau en bouclant sur les parties pour les afficher
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center">Mes parties</div>
        <div class="panel-body text-center">
            Mettre la liste de mes parties ici dans un tableau en bouclant sur les parties pour les afficher
        </div>
    </div>
</div>