<div id="login" class="container">
    <div class="col-md-offset-3 col-md-6 text-center">

        <h1>UNO</h1>
        <form  method="post" data-ng-submit="goAuth()">

            <div class="form-group">
                <input class="input-lg" type="email" placeholder="Email" id="email" data-ng-model="email"/>
            </div>
            <div class="form-group">
                <input class="input-lg" type="password" placeholder="Password" id="pass" data-ng-model="pass"/>
            </div>
                <button type="submit" id="bouton-login" class="btn btn-lg" >Login</button>

        </form>
        <div class="col-md-offset-2 col-md-4">
            <button data-ng-click="" id="bouton-guest" class="btn btn-lg" >Connect Guest</button>
        </div>
        <div class="col-md-4">
            <a href="register" >Sign in ?</a>
        </div>

    </div>
</div>