@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(fonts/G6-OYdAAwU5fSlE7MlBvhQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(fonts/4VMQLG5UaE3m5rr_emmAqaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// CHARTE COULEURS
$orange: #ffaa00;
$bleu: #5555ff;
$vert: #55aa55;
$rouge: #ff5555;
$gris: #4B4B4B;
$noir: #000;
$blanc: #FFF;
$blanc2: #eee;

// TAILLE DES CARTES
$carte-width: 240px*0.3;
$carte-height: 360px*0.3;

@mixin sprite-carte($col, $line) {
  $left: -$carte-width;
  $top: -$carte-height;

  background-position: ($left*$col) ($top*$line) !important;
}

.btn {
  color: #FFF;
  border: none;

  &:focus, &:focus:active {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  .btn-primary {
    &:hover, &:active, &:visited, &:focus {
      background-color: $bleu;
    }
  }

  .btn-danger {
    &:hover, &:active, &:visited, &:focus {
      background-color: $rouge;
    }
  }

  .btn-success {
    &:hover, &:active, &:visited, &:focus {
      background-color: $vert;
    }
  }

  .btn-warning {
    &:hover, &:active, &:visited, &:focus {
      background-color: $orange;
    }
  }
}

input {
  border: none;
  text-align: center;
  color: $gris;
  border-radius: 5px;
  font-family: Cabin, Georgia, Times, serif;;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.nav > li > a {
  &:hover, &:focus {
    background-color: transparent;
    color: $rouge;
    outline: none;
  }
}

.panel {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);

  .panel-heading {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    border: none;

  }

  .panel-body {
    padding: 30px 10px;
  }
}

.jumbotron {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.carte {
  width: $carte-width;
  height: $carte-height;
  background: #FFF;
  border-radius: 12px;
  text-align: center;
  background-image: url(../images/cartes.svg);
  background-size: $carte-width*14 $carte-height*8;
  transform-origin: left bottom;

  @for $i from 0 through 12 {
    &.Trefle-#{$i+1} {
      @include sprite-carte($i, 0);
    }
  }
  @for $i from 0 through 13 {
    &.Carreau-#{$i+1} {
      @include sprite-carte($i, 1);
    }
  }

  @for $i from 0 through 13 {
    &.Coeur-#{$i+1} {
      @include sprite-carte($i, 2);
    }
  }
  @for $i from 0 through 13 {
    &.Pique-#{$i+1} {
      @include sprite-carte($i, 3);
    }
  }
}

.color-orange {
  color: $orange !important;
}

.color-rouge {
  color: $rouge !important;
}

.color-vert {
  color: $vert !important;
}

.color-bleu {
  color: $bleu !important;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #327680;
  font-family: 'Lobster', Georgia, Times, serif;
  color: #FFF;
  font-size: 16pt;

  a {
    text-decoration: none;
    color: #FFF;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: $vert;
    }
  }

  .title-uno {
    font-size: 26pt;
  }
}

header {
  .navbar-brand {
    font-size: 30pt;

    &:hover {
      text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
  }

  .navbar-toggle {
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .icon-bar {
      background-color: $orange;
    }
  }

  .navbar-collapse {
    box-shadow: none;

    li {
      font-size: 20pt;
      text-align: center;
      line-height: 50px;
    }
  }
}

footer {
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
}

#start {

}

#game {
  margin: 0;
  padding: 20px;
  position: relative;

  #table-game {
    padding: 50px 0;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: auto;
    position: relative;

    #pioche {
      width: $carte-width;
      height: $carte-height;
      border-radius: 12px;
      background-image: url(../images/pioche.jpg);
      background-size: cover;
      transition: all;
      transition-duration: 0.3s;
      border-bottom: 10px outset #FFF;
      position: absolute;
      top: 80px;
      left: 70px;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px 1px $gris;
        cursor: pointer;
      }
    }

    #fausse {
      position: absolute;
      top: 80px;
      right: 70px;
    }
  }

  #main {
    width: 100%;
    height: $carte-height;
    margin: 50px auto 30px auto;
    text-align: center;

    ul {
      display: inline-block;

      li {
        float: left;
        list-style: none;
        margin-left: -($carte-width/3);
        box-shadow: 0 0 15px 1px $gris;

        &:hover {
          margin-right: ($carte-width/3);
          margin-left: -($carte-width/4);
          transform: scale(1.1);
          cursor: pointer;
          z-index: 9999;
        }
      }
    }
  }
}

#login {

}

/* Rotation */
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#loader {
  width: 4em;
  height: 4em;
  position: fixed;
  left:50%;
  right:50%;
  top:50%;
  bottom:50%;
  margin-left: -2em;
  margin-top: -2em;
  content: "";
  color: #FFF;
  background-color: $rouge;
  animation: rotate 2.5s infinite linear;
  z-index: 9999;
  transition: ease-out;
  transition-duration: 2s;

  &:before, &:after {
    width: 4em;
    height: 4em;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    transform: rotate(60deg);
    background-color: $orange;
  }

  &:after {
    transform: rotate(-60deg);
    background-color: $orange;
  }
}
