<div data-ng-hide="game.gameEnd">
    <div class="container">
        <div class="players col-md-12">
            <div data-ng-repeat="player in game.players" data-ng-if="player.name != user.name"
                 class="player col-md-{{12 / (game.players.length-1)}} {{(player.name == currentPlayer) ? 'current-player' : ''}}">
                <span class="player-name">{{player.name}}</span>
                <br/>
                <span class="player-cartes">{{player.cartes}} {{'CARD' | translate}}{{(player.cartes > 1) ? "s" : ""}}</span>
            </div>
        </div>
    </div>

    <div id="table-game">
        <div id="pioche" data-ng-click="(currentPlayer === user.name) ? piocherCarte() : ''" data-ng-class="{ 'can-play' : playerCanPlay, 'not-can-play': (user.name === currentPlayer) ? !playerCanPlay : false }"></div>
        <div id="fausse" class="carte {{game.stack.family}}-{{game.stack.number | WordToNumber}}"></div>
    </div>

    <div id="main" data-ng-class="{ 'can-play' : playerCanPlay, 'not-can-play': !playerCanPlay }">
        <ul>
            <li data-ng-repeat="carte in cartes track by $index"
                data-ng-click="(currentPlayer === user.name) ? jouerCarte(carte) : ''"
                class="carte {{carte.family}}-{{carte.number | WordToNumber}}" data-ng-class="{ 'can-play' : playerCanPlay, 'not-can-play': !playerCanPlay }"></li>
        </ul>
    </div>

    <div class="modal fade myModalCurrentPlayer" tabindex="-1" role="dialog" aria-labelledby="modalCurrentPlayer">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" data-ng-if="currentPlayer == user.name">
                {{'TURN_YOUR' | translate}}
            </div>
            <div class="modal-content" data-ng-if="currentPlayer != user.name">
                {{'TURN' | translate: '{ username : "'+currentPlayer+'" }'}}
            </div>
        </div>
    </div>

    <div class="modal fade myModalColorChoose" tabindex="-1" role="dialog" aria-labelledby="modalColorChoose">
        <div class="modal-dialog modal-lg">
            <div class="modal-content colorChoose">
                <h1>{{'PICK_COLOR' | translate}}</h1>
                <div class="col-md-12 colorChooseRow">
                    <div class="colorChooseContent colorChooseYellow col-md-6" data-ng-click="chooseColor('Yellow')"></div>
                    <div class="colorChooseContent colorChooseGreen col-md-6" data-ng-click="chooseColor('Green')"></div>
                </div>
                <div class="col-md-12 colorChooseRow">
                    <div class="colorChooseContent colorChooseBlue col-md-6" data-ng-click="chooseColor('Blue')"></div>
                    <div class="colorChooseContent colorChooseRed col-md-6" data-ng-click="chooseColor('Red')"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="game.gameEnd" class="col-md-12 text-center">
    <h1 data-ng-repeat="player in game.players" data-ng-if="player.cartes === 0">
        <span data-ng-show="player.name === user.name">Tu as gagné !</span>
        <span data-ng-hide="player.name === user.name">Le joueur {{player.name}} a gagné !</span>
    </h1>

    <a href data-ui-sref="app.home" class="btn btn-primary">Retour à l'accueil</a>
</div>