<div class="col-md-12 text-center">
    <h1 class="title">Room {{gameName}}</h1>
    <br />
    <button data-ng-if="game.players.length == game.maxplayers && game.host == user.name" class="btn btn-success" data-ng-click="startGameNow()">Start game now</button>
</div>
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            Waiting for players...
            <span style="float: right">{{game.players.length}}/{{game.maxplayers}} joined</span>
        </div>
        <div class="panel-body" style="padding: 0;">
            <table class="table">
                <tr data-ng-repeat="player in game.players">
                    <td>
                        <i data-ng-if="game.host == player.name" class="fa fa-bookmark-o" style="color: #f55; font-weight: bolder;"></i>
                    </td>
                    <td class="text-center">{{player.name}} join the game</td>
                </tr>
            </table>
        </div>
    </div>
</div>