@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

// CHARTE COULEURS
$orange: #ffaa00;
$bleu: #5555ff;
$vert: #55aa55;
$rouge: #ff5555;
$gris: #4B4B4B;
$noir: #000;
$blanc: #FFF;
$blanc2: #eee;

// TAILLE DES CARTES
$carte-width: 240px*0.3;
$carte-height: 360px*0.3;

@mixin sprite-carte($col, $line) {
  $left: -$carte-width;
  $top: -$carte-height;

  background-position: ($left*$col) ($top*$line) !important;
}

// Bouton responsive Commencer partie
#ingage {
  font-size: 2vw;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  #ingage {
    font-size: 7vw;
  }
}

.btn {
  color: #FFF;
  border: none;

  &:focus, &:focus:active {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  .btn-primary {
    &:hover, &:active, &:visited, &:focus {
      background-color: $bleu;
    }
  }

  .btn-danger {
    &:hover, &:active, &:visited, &:focus {
      background-color: $rouge;
    }
  }

  .btn-success {
    &:hover, &:active, &:visited, &:focus {
      background-color: $vert;
    }
  }

  .btn-warning {
    &:hover, &:active, &:visited, &:focus {
      background-color: $orange;
    }
  }
}

input, select {
  border: none;
  text-align: center;
  color: $gris;
  border-radius: 5px;
  font-family: Cabin, Georgia, Times, serif;;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.nav > li > a {
  &:hover, &:focus {
    background-color: transparent;
    color: $rouge;
    outline: none;
  }
}

.panel {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);

  .panel-heading {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    border: none;

  }

  .panel-body {
    padding: 30px 10px;

    table {
      margin: 0;

      tr {
        td, th {
          border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.jumbotron {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.carte {
  width: $carte-width;
  height: $carte-height;
  background: #FFF;
  border-radius: 12px;
  text-align: center;
  background-image: url(../images/cartes.svg);
  background-size: $carte-width*14 $carte-height*8;
  transform-origin: left bottom;


  @for $i from 0 through 12 {
    &.Red-#{$i} {
      @include sprite-carte($i, 0);
    }
  }
  @for $i from 0 through 12 {
    &.Yellow-#{$i} {
      @include sprite-carte($i, 1);
    }
  }
  @for $i from 0 through 12 {
    &.Green-#{$i} {
      @include sprite-carte($i, 2);
    }
  }
  @for $i from 0 through 12 {
    &.Blue-#{$i} {
      @include sprite-carte($i, 3);
    }
  }
  &.Black-14 {
    @include sprite-carte(13, 5);
  }
  &.Black-13 {
    @include sprite-carte(13, 0);
  }
}

.color-orange {
  color: $orange !important;
}

.color-rouge {
  color: $rouge !important;
}

.color-vert {
  color: $vert !important;
}

.color-bleu {
  color: $bleu !important;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #327680;
  font-family: 'Lobster', Georgia, Times, serif;
  color: #FFF;
  font-size: 16pt;

  a {
    text-decoration: none;
    color: #FFF;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: $vert;
    }
  }

  .title-uno {
    font-size: 26pt;
  }
}

header {
  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    font-size: 30pt;

    &.loader {
      transition: ease-out;
      transition-duration: 1s;
      text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
  }

  .navbar-toggle {
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .icon-bar {
      background-color: $orange;
    }
  }

  .navbar-collapse {
    box-shadow: none;

    li {
      font-size: 20pt;
      text-align: center;
      line-height: 50px;
    }
  }
}

footer {
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
}

#start {

}

#game {
  margin: 0;
  padding: 20px;
  position: relative;

  #table-game {
    padding: 50px 0;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin: auto;
    position: relative;

    #pioche {
      width: $carte-width;
      height: $carte-height;
      border-radius: 12px;
      background-image: url(../images/pioche.jpg);
      background-size: cover;
      transition: all;
      transition-duration: 0.3s;
      border-bottom: 10px outset #FFF;
      position: absolute;
      top: 80px;
      left: 70px;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px 1px $gris;
        cursor: pointer;
      }
    }

    #fausse {
      position: absolute;
      top: 80px;
      right: 70px;
    }
  }

  #main {
    width: 100%;
    height: $carte-height;
    margin: 50px auto 30px auto;
    text-align: center;

    ul {
      display: inline-block;

      li {
        float: left;
        list-style: none;
        margin-left: -($carte-width/3);
        box-shadow: 0 0 15px 1px $gris;

        &:hover {
          margin-right: ($carte-width/3);
          margin-left: -($carte-width/4);
          transform: scale(1.1);
          cursor: pointer;
          z-index: 9999;
        }
      }
    }
  }
}

#login {

}

/* Rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  width: 4em;
  height: 4em;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  margin-left: -2em;
  margin-top: -2em;
  content: "";
  color: #FFF;
  background-color: $rouge;
  animation: rotate 2.5s infinite linear;
  z-index: 9999;
  transition: ease-out;
  transition-duration: 2s;

  &:before, &:after {
    width: 4em;
    height: 4em;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    transform: rotate(60deg);
    background-color: $vert;
  }

  &:after {
    transform: rotate(-60deg);
    background-color: $vert;
  }
}
